p {
  text-wrap: wrap;
  display: block;
  padding: 50px;
}
b {
  text-decoration: underline;
}
h2 {
  text-align: center;
}
#Lorem {
  text-align: justify;
}
.Sticky-sideBar {
  width: 500px;
  height: 300px;
  background-color: blueviolet;
  position: sticky;
  padding-top: 26px;
  text-align: center;
  align-items: center;
  font-size: x-large;
  font-weight: 800;
  color: antiquewhite;
  left: 0%;
}
.Main {
  width: 65%;
  height: 300px;
  background-color: burlywood;
  position: fixed;
  left: 510px;
  padding-top: 26px;
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  align-items: center;
  top: 0;
  margin-top: 10px;
}
