.dep-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    padding-left: 40px;
}

.Card{
    width:350px;
    height: auto;
    box-shadow: 0 4px 12px rgba(10, 10, 10, 0.212);
    border-radius: 15px;
    padding: 20px 10px;
}

.Card span{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.Card p{
    font-size: 1.2rem;
    text-align: center;
}
.Card h3{
    text-align: center;
}

.Card button{
    background-color: rgba(218, 216, 216, 0.692);
}

@keyframes scroll {
    from{
        opacity: 0;
        transform: translateY(40px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    
}

@media (max-width: 1000px) {
    .dep-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
}
.Card{
    width:auto;
    height: auto;
    animation: scroll 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.Card span{
    font-size: 3rem;
}
}
@media (max-width: 600px) {
    .dep-container{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 10px;
    }
.Card{
    width:auto;
    height: auto;
    animation: scroll 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}
.Card span{
    font-size: 2.5rem;
}
}