.navBar {
  background-color: #0a192f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 1000;
}

.navBar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBar li a {
  padding: 8px 12px;
  font-size: 17px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.navBar li a:hover,
li a.active {
  background-color: #0077b6;
  border-radius: 6px;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navBar ul {
    flex-direction: column;
    background-color: #0a192f;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    color: #fff;
    display: none;
  }

  ul.open {
    display: flex;
    color: #fff;
    align-items: start;
    top: 54px;
    left: 0;
    right: 65%;
    border-radius: 6px;
  }

  .hamburger {
    display: flex;
  }

  .navBar li {
    text-align: start;
    padding: 10px 0;
  }
}
