body {
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 400px;
  border: 2px dashed gray;
  padding: 10px;
  margin: 10px;
}
.description {
  text-align: justify;
}
.card img {
  width: 100%;
  height: 150px;
}
