.box1 {
  width: 300px;
  margin: 10px;
  text-align: center;
  padding: 5px;
  border: 2px solid red;
}
.box2 {
  margin: 20px;
  padding: 10px;
  border: 3px dashed green;
}
.box3 {
  margin: 30px;
  padding: 15px;
  border: 4px dotted blue;
}
