nav {
  padding: 6px;
  background-color: rgb(144, 222, 222);
}
nav a {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
nav a:hover {
  color: blue;
}
nav a:visited {
  color: purple;
}
