body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #222;
  color: white;
  padding: 10px;
}
header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
header nav a:hover {
  color: lightblue;
}

main {
  margin-top: 80px;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}
.card img {
  justify-content: center;
  padding: 10px;
  width: 400px;
  height: auto;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  header nav {
    display: block;
  }
  h2 {
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}