body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile {
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
}
header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
header nav a:hover {
  color: yellow;
}
main {
  margin-top: 80px;
  padding: 20px;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  background: rgba(10, 179, 164, 0.61);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.flexbox {
  display: flex;
  gap: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

@media (max-width: 768px) {
  header nav {
    display: block;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    background: purple;
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
