.grid {
  display: grid;
  gap: 10px;
}
.card {
  background: lightyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
}
img {
  width: 250px;
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
