a {
  padding: 5px;
  border: 1px solid gray;
  color: grey;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid;
  gap: 10px;
}
.gallery img {
  width: 350px;
}
